
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ADD DETAILS</title>
</head>

<body>
    <h1>WELCOME TO ADD DETAILS </h1>


    
    <div align="center">
       
        <form action="/insert" method="post">
            <tr>
                <input type="number" name="id" placeholder="ID"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-bottom: 1rem;" required>
            </tr> <br>
            <tr>
                <input type="text" name="name" placeholder="name"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem;  margin-bottom: 1rem;" required><br><br>

            </tr>
            <tr>
                
                <input type="email" name="email" placeholder="email"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-bottom: 1rem;" required><br><br>

            </tr>
            <tr>
                <input type="number" name="contact" placeholder="contact"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-bottom: 1rem;" required><br>

            </tr>
            
            <input type="text" name="objective" placeholder="objectives"
                style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                required> <br>
            </tr>

            <tr>
                <input type="text" name="Board10" placeholder="Board10"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="text" name="school10" placeholder="school10"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="number" name="marks10" placeholder="marks10"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>

            <tr>
                <input type="number" name="passingyear10" placeholder="passingyear10  "
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>

            <tr>
                <input type="text" name="Board12" placeholder="Board12"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="text" name="school12" placeholder="school12"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>


            <tr>
                <input type="number" name="marks12" placeholder="marks12"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="text" name="stream12" placeholder="stream12"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="number" name="passingyear12" placeholder="passingyear12"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="text" name="graduations" placeholder="graduations"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="number" name="cgpa" placeholder="cgpa"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="text" name="graduationcoll" placeholder="graduationcoll"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="number" name="graduationpassingyear" placeholder="graduationpy"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="text" name="masters" placeholder="masters"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="text" name="mscgpa" placeholder="mscgpa"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="text" name="mastercoll" placeholder="mastercoll"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>
            <tr>
                <input type="text" name="masterpassingyear" placeholder="masterpy"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>

            <tr>
                <input type="text" name="project" placeholder="project"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>

            <tr>
                <input type="text" name="skills" placeholder="skills"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>

            <tr>
                <input type="date" name="dob" placeholder="dob"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>

            <tr>
                <input type="text" name="address" placeholder="address"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>

            <tr>
                <input type="text" name="language" placeholder="language"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>

            <tr>
                <input type="url" name="link" placeholder="link"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    required>

            </tr>
            <br>

    
            <center>
                <input type="submit" value="submit"
                    style="border: none; width: 8rem; border-radius: 0.2rem;  height: 2rem; margin-top: 1rem; color: rgb(255, 255, 255); background-color:rgb(255, 165, 55);">

                <input type="reset" value="reset"
                    style="border: none; width: 8rem; border-radius: 0.2rem;  height: 2rem;  margin-top: 1rem; color: rgb(255, 255, 255); background-color:rgb(255, 165, 55);">
            </center>

        </form>
    </div>
    
</body>

</html>